body {
  margin: 0;
  color: #808080;
  font-family: sans-serif;
}

.savedImageContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  grid-gap: 1em;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer img {
  height: 300px;
}
